.image-extras {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.image-extra {
    width: 95%;
    background-color: rgb(235, 235, 235);
}

.new-image-extra {
    width: 95%;
    background-color: rgb(225, 245, 235);
}

.image-extra img, .new-image-extra img{
    width: 50%;
}

.new-image-extra{
    margin-block: 2rem;
    margin-inline : auto;
}