main {
	text-align: center;
	/* width: 98vw; */
	height: 95vh;
}

#home_main {
	width: 90vw;

	margin: auto;
}


#home_main #create_staff_link {
	margin-top: 20px;
}

.home-form {
	margin-block : 1.5rem;
}