main {
	text-align: center;
	/* width: 98vw; */
	height: 95vh;
}

#home_main {
	width: 90vw;

	margin: auto;
}

#home_main #create_draft_div {
	margin-top: 20px;
}

#home_main #create_staff_link {
	margin-top: 20px;
}
